section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin: 10px 0;
}

select, button {
    width: 500px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

button {
    background: #FFCC00;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #FFEB85;
}